#box {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    /* transform: translate (10px,10px);
    transform: translateX(300px) translateY(300px);
    transform: scaleX(1.1) scaleY(1.1) translate(0px,100px);
    transition: 2s;
    transform: rotate(45deg); */
}

/* #box:hover {
    transform: translate(0px,10px);
} */

/* #box:hover {
    transform: scale(1.1, 1.1);
    transform: transtlateX(30px);
    transition: 5s;
    display: none;
    visibility: hidden
} */

#box:hover {
    transform: rotate(360deg);
    transition: 10s;
}